// Variables
@import 'variables';
@import 'calendar';
@import 'table';
@import 'hiddenForm';

body {
    margin: 0;
    overflow-x: hidden;
    header {
        background-color: $grey;
        width: 13vw;
        height: 100vh;
        float: left;
        position: fixed;
        min-width: 100px;
        nav {
            img {
                width: 100%;
            }
            ul {
                padding: 0;
                margin: 0;
                text-align: center;
                li {
                    width: 80%;
                    padding: 8px 10%;
                    a {
                        color: white;
                        text-decoration: none;
                        font-family: 'Share', cursive;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    button {
                        background-color: transparent;
                        border: none;
                        color: white;
                        font-family: 'Share', cursive;
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
            }
            ul:nth-child(odd) {
                position: absolute;
                bottom: 12px;
                width: 100%;
            }
        }
    }

    main {
        width: 82vw;
        float: left;
        margin-left: 13vw;
        margin-right: 16px;
        padding: 2vw;
        section {
            margin-bottom: 20px;
            article{
                width: 100%;
            }
            form {
                width: 100%;
                input, textarea, select {
                    width: 99.5%;
                    border: none;
                    background-color: $grey;
                    margin-bottom: 10px;
                    color: white;
                    padding: 4px;
                    cursor: pointer;
                }
                textarea {
                    height: 150px;
                }
                .inputContainer {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
                .halfInput {
                    width: 49%;
                }
                select {
                    width: 100.5%;
                }
                input[type=submit] {
                    width: 25%;
                    font-family: "Share", cursive;
                    font-size: 22px;
                    padding: 4px 0;
                    border: none;
                    color: white;
                    text-decoration: none;
                }
                input[type=submit] {
                    float: right;
                    background-color: $red;
                }
                input[type=submit]:hover {
                    background-color: $redHover;
                }
                article {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin-bottom: 15px;
                    div {
                        margin: 10px 0;
                        width: 30%;
                        input[type=checkbox]{
                            width: max-content; 
                        }
                    }
                }
                
                 
            }
            .cancelButton {
                width: 25%;
                padding: 4px 0;
                border: none;
                background-color: $darkGrey;
                a {
                   font-family: "Share", cursive;
                   color: white;
                    text-decoration: none; 
                    font-size: 22px;
                }
            }
            .cancelButton:hover {
                background-color: $darkGreyHover;
            }
        }
        
        .buttonSection {
            margin-bottom: 15px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1 {
                margin: 0;
            }
            button {
                background-color: $red;
                color: white;
                border: none;
                padding: 8px 12px;
                height: max-content;
            }
            button:hover {
                background-color: $redHover;
            }
            h2 {
                background-color: $red;
                padding: 10px 16px;
                color: white;
                margin: 0;
            }
        }
        .actionButtons {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            .edit, .delete {
                padding: 8px 16px;
                border: none;
                font-size: 18px;
                width: 120px;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
            .edit {
                background-color: $darkGrey;
            }
            .edit:hover {
                background-color: $darkGreyHover;
            }
            .delete {
                background-color: $red;
            }
            .delete:hover {
                background-color: $redHover;
            }
        }
        
        .projectDetails {
            display: flex;
            flex-wrap: wrap;
            p {
                width: max-content;
                margin-right: 15px;
                margin-top: 0;
                text-align: justify;
            }
            p:nth-last-child(1) {
                margin-bottom: 0;
            }
        }
        .tab {
            float: left;
            width: 20%;
            height: 70vh;
            border: 1px solid grey;
            background-color: $grey;
            button, div {
                display: block;
                background-color: $darkGrey;
                border: none;
                width: 100%;
                color: white;
                padding: 10px 0;
                border-bottom: 1px solid white;
                p {
                    margin: 0;
                    text-align: center;
                }
            }
            button:hover {
                background-color: $darkGreyHover;
            }
            button.active {
                background-color: $red;
                color: white;
            }
        }
        .tabContent {
            width: 75%;
            float: left;
            border: 1px solid gray;
            height: 70vh;
            overflow-y: auto;
            padding: 0 2%;
            border-left: none;
            background-color: $blueGrey;
            display: grid;
            grid-template-columns: repeat(2, 49.5%);
            grid-auto-rows: max-content;
            row-gap: 14px;
            column-gap: 1%;
            button {
                height: min-content;
                margin-top: 17px;
                width: max-content;
                float: right;
                background-color: $red;
                border: none;
                padding: 5px 8px;
                text-align: right;
                justify-self: end;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
            button:hover {
                background-color: $redHover;
            }
            .tabContact {
                height: max-content;
                background-color: $darkGrey;
                color: white;
                padding: 0 5px;
                border-radius: 3px;
                h3 {
                    margin-top: 10px;
                    a {
                        font-size: 18px;
                        color: white;
                        margin-left: 5px;
                    }
                    a:hover {
                        color: $grey;
                    }
                }
            }
            h2 {
                a {
                    font-size: 20px;
                    color: black;
                    margin-left: 5px;
                }
                a:hover {
                    color: $red;
                }
            }
        }
        div.errorAlert {
            background-color: $red;
            padding: 1px;
            color: white;
        }
        .hiddenForm {
            top: 10%;
            left: 27.5%;
        }
    }
    
    @media only screen and (max-width: 900px) {
        main {
            .halfSection {
                width: 100%;
            }
        }
    }
    @media only screen and (max-width: 750px) {
        main {
           width: 79vw;
           margin-left: 100px; 
           padding: 2.5vw;
        }
    }
    @media only screen and (max-width: 685px) {
        main {
           width: 77vw;
        }
    }
}
